<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Gilroy-Regular.otf</string>
		<string>Gilroy-Black.otf</string>
		<string>Gilroy-UltraLight.otf</string>
		<string>Gilroy-BlackItalic.otf</string>
		<string>Gilroy-RegularItalic.otf</string>
		<string>Gilroy-LightItalic.otf</string>
		<string>Gilroy-ThinItalic.otf</string>
		<string>Gilroy-HeavyItalic.otf</string>
		<string>Gilroy-BoldItalic.otf</string>
		<string>Gilroy-SemiBoldItalic.otf</string>
		<string>Gilroy-UltraLightItalic.otf</string>
		<string>Gilroy-Medium.otf</string>
		<string>Gilroy-Heavy.otf</string>
		<string>Gilroy-Bold.otf</string>
		<string>Gilroy-SemiBold.otf</string>
		<string>Gilroy-Light.otf</string>
		<string>Gilroy-ExtraBold.otf</string>
		<string>Gilroy-MediumItalic.otf</string>
		<string>Gilroy-ExtraBoldItalic.otf</string>
		<string>Gilroy-Thin.otf</string>
	</array>
</dict>
</plist>
